
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');


.App {
  text-align: center;
  color: blue;
  text-align: center;
}

.card{
  font-family: 'Saira Stencil One', cursive;
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 3em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
}

.activeCard {
  color:rgb(0, 0, 0);
  background: rgb(58, 255, 8);
  text-align: center;
 }
 
 h2{
  font-family: 'Acme', sans-serif;
  color:rgb(0, 0, 0);
  font-size: 50px;
  text-align: center;
 }

 .Righteous{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  text-align: center;
 }

 .Righteous2{
  font-family: 'Righteous', cursive;
  font-size: 60px;
  text-align: center;
 }
 
 button{
  font-family: 'Righteous', cursive;
  font-size: 20px;
  text-align: center;
  background:white;
  display: inline-block;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
 div{
  align-items: center;
  flex-direction: column;
 }
